@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}  

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* header */
header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
  background: white;
}
nav{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  padding: 1rem 0;
}
nav img {
  width: 120px;
}
nav ul{
  float: right;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 31px 30px;
  text-transform: uppercase;
  transition: .5s;
  position: relative;
  margin-right: -4px;
}
nav ul li a::after {
  content: "";
  background: red;
  display: block;
  border-radius: 1px;
  height: 3px;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}
nav ul li a:hover{
  background-color: #d5d3da;
}

nav ul li a:hover::after{
  background: red;
  transform: scaleX(1);
}

.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

/* top wrapper */
.top-wrapper {
  color: white;
  font-family: sans-serif;
  padding: 180px 0 100px 140px;
  /* background-image: url(../img/banner.jpeg); */
  background-size: cover;
  width: 100%;
  height: 650px;
  margin-bottom: 20px;
  transition: 1.5s;
}

.top-wrapper h1 {
  opacity: 0.9;
}

.top-wrapper a {
  margin-top: 20px;
}

.special {
  color: #fe7a83;
}

.container {
  
}
.board {
  column-count: 3;
  column-gap: 1rem;
}
.container h2 {
  margin: 0 0 30px;
  text-align: center;
}
img#flag {
  height: 20px;
  width: 20px;
}
.card {
  width: 84%;
  background: #ccc;
  padding: 8%;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #fff;
}
.card.confirmed {
  background: #41a7ff;
}
.card.recovered {
  background: #32b336;
}
.card.death {
  background: #ff0053;
}
.card h5 {
    margin: 0;
    font-size: 1rem;
}
.card span {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 4px;
}
.card i {
  font-size: 3rem;
}


/* main */
main {
  margin-top: 100px;
}


.covid-box-summary {
  margin: 0 auto;
  margin-top: 100px;
  z-index: 1;
  max-width: 1280px;
  border-radius: 0.5rem;
  background: #F6F5F0;
  padding: 1rem;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
}