@media screen and (max-width: 755px){
  /* header */
  nav {
    padding: 0;
  }
  nav img {
    width: 200px;
    height: 80px;
  }
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  .checkbtn{
    display: block;
    }
  ul{
    position: fixed;
    width: 100%;
    height: 16vh;
    background: white;
    top: 65px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 15px;
  }
  #check:checked ~ ul{
    left: 0;
  }

  .board {
    column-count: 2;
  }
  .card span {
    font-size: 2.5rem;
  }
  }
  @media screen and (max-width: 1000px){
  /* header */
  nav ul li a {
    padding: 31px 5px;
  }

  .board {
    column-count: 1;
  }
  }